<center>
  <h2>Welcome <%= current_user.name %>!</h2>
</center>
<h1><%= @movie.title %></h1>
<%= button_to 'Create Viewing Party', '/party_viewings/new', :params => {:id => @movie.id}, method: :get %>
<h3>Vote Average:</h3><%= @movie.vote_average %>
<h3>Runtime:</h3><%= @movie.runtime_in_hours %>
<h3>Genres:</h3>
<% @movie.genres.each do |genre| %>
  <%= genre %>
<% end %>
<br>
<h3>Summary</h3>
<p><%= @movie.summary %></p>
<section class='cast'>
  <h3>Cast</h3>
  <% @movie.cast.each do |cast_member| %>
    <p><%= cast_member.name %> as <%= cast_member.character %></p>
  <% end %>
</section>
<h3><%= @movie.reviews.size %> Reviews</h3>
<% @movie.reviews.each do |review| %>
  <h4>Author: <%= review.author %></h4>
  <p><%= review.content %></p>
<% end %>
